<%- include("partials/header"); -%>

<div class="container mt-5">
  <h2>Welcome!</h2>
  <div class="py-5">
    Sign up or sign in to start creating your own to do lists.
  </div>
</div>

<%- include("partials/footer"); -%>
