<%- include("partials/header"); -%>

<div class="container mt-5">
  <h2>Welcome!</h2>
  <div class="py-5">
    To start, click on a new list in the menu to create your new list.
  </div>
</div>

<%- include("partials/footer"); -%>
